.aider*
/progs.db
ignore/
myfile.pdf
.DS_Store
scan/test/testdata/**/*.pdf
progdl
test.db
.idea/
env
volumes/
build/package/exporter/progger
build/package/exporter/*.app
build/package/exporter/*.dmg
**/libpdfium.dylib
