.aider*
/progs.db
ignore/
myfile.pdf
.DS_Store
scan/test/testdata/**/*.pdf
progdl
test.db
.idea/
env
volumes/
build/exporter/progger
build/exporter/progger.app
build/exporter/progger.dmg
build/exporter/rw.72162.progger.dmg
build/exporter/rw.72538.progger.dmg
